<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dash aluno</title>
  <link rel="stylesheet" href="../../fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="../../css/imel.css">
  <link rel="sortcut icon" href="../../img/log.ico" type="image/x-icon">
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" href="../../css/profile.css">
  <style>
    .infod {
      display: flex;
    }

    .infog {
      margin-right: 10px;
    }


  </style>
</head>

<body>
  <%- include('./includes/header', {user, notificationIndex}); %>

  <section class="intro">
    <div class="container">
      <div class="row">
        <div class="col col-4">
          <a href="#" class="">
            <img class="img-profile rounded-circle" src="<%- user.photoAvatar %>">
          </a>
        </div>
      </div>
      
    </div>
  </section>

  <!-- inicio da Pag. de Conteúdo -->
  <div class="container-fluid py-5">
    <section id="profile">
      <div class="container">
        <!---->
        <div class="row mb-4">
          
        <div class="col-md-4">
      </div>
          <div class="col-md-4">
            <a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#ImgModal">
              Editar Imagem
            </a>
        </div>
        <div class="col-md-4">
          <a href="#" class="btn btn-success btn-block" data-toggle="modal" data-target="#passwordModal">
            <i class="fa fa-lock"></i> Mudar Password
          </a>
      </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h4>Perfil</h4>
          </div>
          <div class="card-body">
            <form>
              <div class="form-group">
                <label for="name">Nome</label>
                <input type="text" class="form-control" value="<%- user.nome %>" disabled>
              </div>
              <div class="form-group">
                <label for="email">Processo</label>
                <input type="number" class="form-control" value="<%- user.numero %>" disabled>
              </div>
              <div class="form-group">
                <label for="email">Curso</label>
                <input type="text" class="form-control" value="<%- user.curso %>" disabled>
              </div>
              <div class="form-group">
                <label for="email">Classe</label>
                <input type="text" class="form-control" value="<%- user.classe %>" disabled>
              </div>
              <div class="form-group">
                <label for="email">Sala</label>
                <input type="text" class="form-control" value="<%- user.sala %>" disabled>
              </div>
              <div class="form-group">
                <label for="email">Turno</label>
                <input type="text" class="form-control" value="<%- user.turno %>" disabled>
              </div>
            </form>
          </div>
        </div>
        <!---->

      </div>
    </section>


  </div>

  <footer>
    <div class="copy">
      <div class="container">
        <p>
          <a href="#">ABDJAM 2020 - Todos direitos reservados.</a>
        </p>
      </div>
    </div>
  </footer>


  
    <!-- IMG MODAL -->
    <div class="modal fade" id="ImgModal">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header bg-m text-white">
            <h5 class="modal-title">Mudar a Imagem</h5>
            <button class="close" data-dismiss="modal"><span>&times;</span></button>
          </div>
          <div class="modal-body">
            <form action="/update-photo" method="POST" enctype="multipart/form-data">
              <div class="form-group">
                <input type="file" name="photo" id="">
              </div>
              <input type="hidden" name="id" value="<%- user.id %>">
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            <button class="btn btn-primary" type="submit">Atualizar Imagem</button>
          </div>
          </form>
        </div>
      </div>
    </div>

    <!---->

    <!-- PASSWORD MODAL -->
    <div class="modal fade" id="passwordModal">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header bg-m text-white">
            <h5 class="modal-title">Mudar a Password</h5>
            <button class="close" data-dismiss="modal"><span>&times;</span></button>
          </div>
          <div class="modal-body">
            <form action="/update-password" method="POST">
              <div class="form-group">
                <label for="name">Password</label>
                <input type="password" name="pass" class="form-control">
              </div>
              <div class="form-group">
                <label for="name">Confirma Password</label>
                <input type="password" class="form-control">
              </div>
              <input type="hidden" name="id" value="<%- user.id %>">

          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            <button class="btn btn-primary" type="submit">Atualizar Password</button>
          </div>
          </form>
        </div>
      </div>
    </div>

    <!---->


  <!-- Logout Modal-->
  <%- include('./includes/modalLogout.ejs'); %>
  <script src="../../js/jquery.min.js"></script>
  <script src="../../js/bootstrap.bundle.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <%- include('./includes/notification.ejs', {notificationIndex}); %>

</body>

</html>