<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dash aluno</title>
  <link rel="stylesheet" href="../../fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="../../css/imel.css">
  <link rel="sortcut icon" href="../../img/log.ico" type="image/x-icon">
  <link rel="stylesheet" href="../../css/style.css">
  <style>

  </style>
</head>

<body>
  <%- include('./includes/header', {user}); %>

  <!--  -->
  <!-- <section class="intro">
    <div class="container">
      <h1>Imel</h1>
      <blockquote class="quote">
        <p>"A educação é a nosssa maior arma para mudar o futuro, a arte de saber estar"</p>
        <cite>SIMON JOSEPH</cite>
      </blockquote>
    </div>
  </section> -->

  <!-- inicio da Pag. de Conteúdo -->
  <div class="container-fluid py-5">

    <header id="main-header" class="  text-black">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1><i class="fa fa-user"></i> Perfil</h1>
          </div>
        </div>
      </div>
    </header>


    <section id="action" class="py-4 mb-4 bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-3 mr-auto">
            <a href="/index" class="btn btn-light btn-block">
              <i class="fa fa-arrow-left"></i> Voltar para Dashboard
            </a>
          </div>
          <!-- <div class="col-md-3">
            <a href="#" class="btn btn-success btn-block" data-toggle="modal" data-target="#passwordModal">
              <i class="fa fa-lock"></i> Mudar Password
            </a>
          </div> -->
        </div>
      </div>
    </section>


    <section id="profile">
      <!-- <div class="container">
        <div class="row">
          <div class="col-md-9">
            <div class="card">
              <div class="card-header">
                <h4>Editar Perfil</h4>
              </div>
              <div class="card-body">
                <form>
                  <div class="form-group">
                    <label for="name">Nome</label>
                    <input type="text" class="form-control" value="<%- user.nome %>">
                  </div>
                  <div class="form-group">
                    <label for="email">Processo</label>
                    <input type="number" class="form-control" value="<%- user.id %>">
                  </div>
                  <div class="form-group">
                    <label for="email">Curso</label>
                    <input type="text" class="form-control" value="<%- user.nomeCurso %>">
                  </div>
                  <div class="form-group">
                    <label for="email">Classe</label>
                    <input type="text" class="form-control" value="<%- user.classe %>">
                  </div>
                  <div class="form-group">
                    <label for="email">Sala</label>
                    <input type="text" class="form-control" value="<%- user.sala %>">
                  </div>
                  <div class="form-group">
                    <label for="turno">Turno</label>
                    <input type="text" id="turno" class="form-control" value="<%- user.turno %>">
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <h3>Teu Avatar</h3>
            <img src="<%- user.photoAvatar %>" alt="" class="d-block img-fluid mb-3">
            <a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#ImgModal">
              Editar Imagem
            </a>
          </div>
        </div>
      </div> -->

      <!--inicio-->
      <div class="container">
        <div class="row">
          <div class="col col-md-9">
            <div class="card mb-4">
              <div class="card-header">
                Minha informação
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-4 phot">
                    <img src="<%- user.photoAvatar %>" alt="" class="d-block img-fluid mb-3">
                    <a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#ImgModal">
                      Editar Imagem
                    </a>
                  <a href="#" class="btn btn-success btn-block" data-toggle="modal" data-target="#passwordModal">
                    <i class="fa fa-lock"></i> Mudar Password
                  </a>
                  </div>
                  <div class="col-md-4">
                    <div class="infod">
                      <div class="infog">
                        <p class="pb-4">Nome:</p>
                        <p class="pb-4">Bilhete:</p>
                        <p class="pb-4">Processo:</p>
                        <p class="pb-4">Curso:</p>
                        <p class="pb-4">Classe:</p>
                        <p class="pb-4">Sala:</p>
                        <p class="pb-4">Turno:</p>
                        <p class="pb-4">Turma:</p>
                      </div>
                      <div class="">
                        <p class="pb-4"><%- user.nome %></p>
                        <p class="pb-4"><%- user.bi %></p>
                        <p class="pb-4"><%- user.id %></p>
                        <p class="pb-4"><%- user.idCurso %></p>
                        <p class="pb-4"><%- user.classe %></p>
                        <p class="pb-4"><%- user.sala %></p>
                        <p class="pb-4"><%- user.turno %></p>
                        <p class="pb-4"><%- user.idTurma %></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <!--fim-->
    </section>

    <!-- IMG MODAL -->
    <div class="modal fade" id="ImgModal">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header bg-m text-white">
            <h5 class="modal-title">Mudar a Imagem</h5>
            <button class="close" data-dismiss="modal"><span>&times;</span></button>
          </div>
          <div class="modal-body">
            <form action="/update-photo" method="POST" enctype="multipart/form-data">
              <div class="form-group">
                <input type="file" name="photo" id="">
              </div>
              <input type="hidden" name="id" value="<%- user.id %>">
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            <button class="btn btn-primary" type="submit">Atualizar Imagem</button>
          </div>
          </form>
        </div>
      </div>
    </div>

    <!---->

    <!-- PASSWORD MODAL -->
    <div class="modal fade" id="passwordModal">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header bg-m text-white">
            <h5 class="modal-title">Mudar a Password</h5>
            <button class="close" data-dismiss="modal"><span>&times;</span></button>
          </div>
          <div class="modal-body">
            <form action="/update-password" method="POST">
              <div class="form-group">
                <label for="name">Password</label>
                <input type="password" name="password" class="form-control">
              </div>
              <div class="form-group">
                <label for="name">Confirma Password</label>
                <input type="password" class="form-control">
              </div>
              <input type="hidden" name="id" value="<%- user.id %>">

          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            <button class="btn btn-primary" type="submit">Atualizar Password</button>
          </div>
          </form>
        </div>
      </div>
    </div>

    <!---->

  </div>

  <footer>
    <div class="copy">
      <div class="container">
        <p>
          <a href="#">ABDJAM 2020 - Todos direitos reservados.</a>
        </p>
      </div>
    </div>
  </footer>

  <!-- Logout Modal-->
  <%- include('./includes/modalLogout.ejs'); %>

  <script src="../../js/jquery.min.js"></script>
  <script src="../../js/bootstrap.bundle.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const audioObj = new Audio('../../music/facebook_sound.mp3');
    var socket = io.connect('http://localhost:3000');
    socket.on('id-<%- user.id%>', (msg) => {
      const showNotification = document.querySelector('#notificationNumber');
      showNotification.style.display = 'inline-block';
      console.log(showNotification.firstChild);
      showNotification.innerHTML = 1;
      audioObj.play();
    });
  </script>
</body>

</html>