<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dash aluno</title>
    <link rel="stylesheet" href="../../fontawesome-free/css/all.min.css" />
    <link rel="stylesheet" href="../../css/imel.css" />
    <link rel="sortcut icon" href="../../img/log.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="../../css/troca.css" />
    <style>
      .table-responsive {
    overflow-x: none;
}

.card{
  margin-bottom: 1rem;
}
    </style>
  </head>
  <body>
    <%- include('./includes/header', {user, notificationIndex}); %>

    <!--  -->
    <section class="intro">
      <div class="container">
        <h1>Trocar Curso</h1>
        <!-- <blockquote class="quote">
        <p>"A educação é a nosssa maior arma para mudar o futuro, a arte de saber estar"</p>
        <cite>SIMON JOSEPH</cite>
      </blockquote> -->
      </div>
    </section>

    <div class="container-fluid">
      <!-- ACTIONS -->
      <section id="action" class="py-4 mb-4 bg-light">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <a
                href="#"
                class="btn btn-primary btn-block"
                data-toggle="modal"
                data-target="#addUserModalC"
              >
                <i class="fa fa-plus"></i> Solicitar troca
              </a>
            </div>
          </div>
        </div>
      </section>

      <!-- POSTS -->
      <section id="posts">
        <div class="container">
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Cadastrados</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <div
                  id="#dataTable_wrapper"
                  class="dataTables_wrapper dt-bootstrap4"
                >
                  <div class="row">
                    <div class="col-sm-12 col-md-6 d-flex">
                      <div id="dataTable_filter" class="dataTables_filter">
                        <label>
                          Pesquisar:<input
                            type="search"
                            class="form-control form-control-sm"
                            placeholder=""
                            aria-controls="dataTable"
                          />
                        </label>
                      </div>
                    </div>
                  </div>
                  <% for(solicitar of solicitars){ %>
                    <div class="cards">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title"><%- solicitar.nomeCurso %></h5>
                          <p class="card-text">Eu <strong><em><%- solicitar.nome %></em></strong>, 
                            pertecente ao 
                            curso de <strong><em><%- solicitar.cursoAluno %></em></strong> 
                            no turno da <strong><em><%- solicitar.turno %></em></strong>, 
                            solicito fazer a troca para o 
                            curso de <strong><em><%- solicitar.cursoPedido %></em></strong> 
                            no turno da <strong><em><%- solicitar.periodo %></em></strong>. </p>
                           <% if(!solicitar.interessado){ %>
                            <form action="/interessado" method="post">
                              <input type="hidden" name="id" value="<%- user.id %>">
                              <input type="hidden" name="post" value="<%- solicitar.id %>">
                              <input type="submit" value="Solicitar" class="btn btn-primary">
                            </form>
                            <% } else { %>
                              <button class="btn btn-success">Em processo ...</button>
                            <% } %>
                        </div>
                      </div>
                    <% } %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- /.container-fluid -->
    <!--  -->

    <footer>
      <div class="copy">
        <div class="container">
          <p>
            <a href="#">ABDJAM 2020 - Todos direitos reservados.</a>
          </p>
        </div>
      </div>
    </footer>

    <!-- Logout Modal-->
    <%- include('./includes/modalLogout.ejs'); %>

    <div class="modal fade" id="addUserModalC">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header bg-m text-white">
            <h5 class="modal-title">Cadastrar Troca</h5>
            <button class="close" data-dismiss="modal">
              <span>&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="post" action="/troca" >
              <div class="form-group">
                <label for="curso">Curso</label>
                <select class="form-control" name="idCurso">
                  <% for(curso of cursos) { %>
                    <option value="<%- curso.id %>"><%- curso.nomeCurso %></option>
                  <% } %>
                </select>
              </div>
              <input type="hidden" name="idUser" value="<%- user.id %>">
              <div class="form-group" >
                <label for="turno">Turno</label>
                <select class="form-control" name="periodo">
                  <option value="Manha">Manhã</option>
                  <option value="Tarde">Tarde</option>
                  <option value="Noite">Noite</option>
                </select>
              </div>
              <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal">
                  Fechar
                </button>
                <button class="btn btn-primary" id="submitNotification">
                  Cadastrar
                </button>
              </div>
            </form>
          </div>
         
        </div>
      </div>
    </div>
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/bootstrap.bundle.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <%- include('./includes/notification.ejs', {notificationIndex}); %>


  </body>
</html>
