<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="../../css/all.css">
  <link rel="stylesheet" href="../../css/bootstrap/css/bootstrap.css">
  <title>Aluno</title>

</head>

<body>
  <div id="wrapper">

    <!-- <div class="logo">
        <a href="">
          <img src="img/log.jpg" alt="logo">
        </a>
      </div>-->
    
    <!---->
    <div id="content-wrapper" class="d-flex">
      <div id="content">
        <div class="header">
          <!-- <a href="#">
            <i id="hamburger" class="fas fa-bars header-item"></i>
          </a> -->
          <div class="logo">
            <a href="">
              <img src="../../img/log.jpg" alt="logo">
            </a>
          </div> 
          <a href="#" class="header-item">Logout</a>
        </div>

        <div class="container">
          <h1 class="display-4 text-center">Cadastra aluno</h1>
          <div class="main">
              <table class="table table-hover table-responsive-md">
                  <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Nome</th>
                      <th scope="col">IdTurma</th>
                      <th scope="col">BI</th>
                      <th scope="col">Telefone</th>
                      <th scope="col">Email</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for (let aluno of result ) { %>
                      <tr>
                          <th scope="row"><%= aluno.id %></th>
                          <td><%= aluno.nome %></td>
                          <td><%= aluno.IdTurma %></td>
                          <td><%= aluno.bi %></td>
                          <td><%= aluno.telefone %></td>
                          <td><%= aluno.email %></td>
                        </tr>
                    <% } %>
                  </tbody>
                </table>
          </div>
        </div>
      </div>


      <!-- Footer -->
      <!-- <footer class="footer">
        <div class="container">
          <div>
            <a href="#">Copyright &copy; ABDJAM 2020. Todos direitos reservados</a>
          </div>
        </div>
      </footer> -->
      <!-- End of Footer -->
    </div>
  </div>
  <script>
    const hamburger = document.getElementById('hamburger');
    const navOff = document.getElementById('nav-off');
    hamburger.addEventListener('click', function () {
      navOff.classList.toggle('hamburger');
    })
  </script>
</body>

</html>