<!DOCTYPE html>
<html lang="pt">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>IMEL</title>

  <link href="../../fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="../../css/imel.css" rel="stylesheet">

  <style>
    .direct{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .btn-primary.active{
      color: #1105fe;
    }
  </style>

</head>

<body id="page-top">

  <div id="wrapper">

    <%- include('./includes/sidebar', {user, reclamacaoIndex}) %>
        <!-- fim do Topbar -->

        <!-- inicio da Pag. de Conteúdo -->
        <div class="container-fluid">

          <!-- ACTIONS -->
          <section id="action" class="py-4 mb-4 bg-light">
            <div class="container">
              <div class="row">
                <% if(user.nivelSession > 2) { %>
                <div class="col-md-3">
                  <a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#addUserModalC">
                    <i class="fa fa-plus"></i> Cadastrar Colaborador
                  </a>
                </div>
                <% } %>
                <div class="col-md-3">
                  <a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#addUserModalA">
                    <i class="fa fa-plus"></i> Cadastrar Aluno
                  </a>
                </div>

              </div>
              
            </div>
          </section>

          <!-- POSTS -->
          <section id="posts">
            <div class="container">
              <div class="card shadow mb-4">
                <div class="card-header py-3 direct">
                  <h6 class="m-0 font-weight-bold text-primary">Cadastrados </h6>
                  <div class="directC">
                    
                    <% if(user.nivelSession > 2) { %>
                      <a href="#" class="btn btn-primary active" id="tr1" >
                        <i class="fa fa-user"></i> Lista dos Alunos
                      </a>
                      <a href="#" class="btn btn-primary" id="tr2">
                        <i class="fa fa-users-cog"></i> Lista dos Colaboradores
                      </a>
                      <% } %>
                  </div>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                      <div class="row">
                        <div class="col-sm-12 col-md-6 d-flex">

                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12">
                          <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0"
                            role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                            <thead>
                              
                              <tr>
                                <th>Nº</th>
                                <th>Nome</th>
                                <th>Função</th>
                                <th>Data de cadastro</th>
                                <th></th>
                              </tr>
                              </tr>
                            </thead>
                            <!--Aluno-->
                            <tbody id="alu"  style="display: table-row-group">
                              <% for(dado of dados[0]){ %>
                                <% if( dado.idCurso === user.idCurso ){ %>
                                <tr role="row" class="odd">
                                  <td class="sorting_1"><%- dado.id %></td>
                                  <td><%- dado.nome %></td>
                                  <td><%- (dado.nivelSession == 1) ? 'Aluno' : 'Colaborador'; %></td>

                                  <td><%- new Date (dado.datatimes).toLocaleDateString() %></td>
                                  <td><a href="/cordenacao/detalhes-aluno/<%- dado.id %>" class="btn btn-primary">
                                      <i class="fa fa-angle-double-right"></i> Detalhes
                                    </a></td>
                                </tr>
                                <% } %>
                              <% } %>
                            </tbody>
                            <!--colaborador-->
                            <% if(user.nivelSession > 2) { %>
                            <tbody id="cola" style="display: none;">
                               <% for(dado of dados[1]){ %>
                                <% if( dado.idCurso === user.idCurso ){ %>
                              <tr role="row" class="odd">
                                <td class="sorting_1"><%- dado.id %></td>
                                <td><%- dado.nome %></td>
                                <td><%- (dado.nivelSession == 1) ? 'Aluno' : 'Colaborador'; %></td>

                                <td><%- new Date (dado.datatimes).toLocaleDateString() %></td>
                                <td><a href="/cordenacao/detalhes-colaborador/<%- dado.id %>" class="btn btn-primary">
                                    <i class="fa fa-angle-double-right"></i> Detalhes
                                  </a></td>
                              </tr>
                              <% } %>
                              <% } %>
                            </tbody>
                          </table>
                          <% } %> 
                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- fim do Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; ABDJAM 2020</span>
          </div>
        </div>
      </footer>
      <!-- fim da Footer -->

    </div>
    <!-- fim do Content Wrapper -->

  </div>
  <!-- fim da Pag Wrapper -->

  <!-- Logout Modal-->
  <%- include('./includes/modalLogout.ejs'); %>


<% if(user.nivelSession > 2) { %>
  <div class="modal fade" id="addUserModalC">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-m text-white">
          <h5 class="modal-title">Cadastrar Colaborador</h5>
          <button class="close" data-dismiss="modal"><span>&times;</span></button>
        </div>
        <div class="modal-body">
          <form method="POST" action="/cordenacao/cadastrar-colaborador" enctype="multipart/form-data">
            <div class="form-group">
              <label for="name">Nome</label>
              <input type="text" name="nome" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="BI">BI</label>
              <input type="text" class="form-control" name="bi" required>
            </div>
            <div class="form-group">
              <input type="hidden" name="curso" value="<%- user.idCurso %>">
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-6">
                  <label for="file">Escolher foto de Perfil </label>
                  <input type="file" name="photo" class="form-control-file" required>
                  <small class="form-text text-muted">Nº max 3mb</small>
                </div>
                <div class="col-md-6">
                  <label for="file">BI Foto </label>
                  <input type="file" name="photo" class="form-control-file" required>
                  <small class="form-text text-muted">Nº max 3mb</small>
                </div>
              </div>
            </div>
            <input type="hidden" name="idCordenador" value="1">
            <div class="modal-footer">
              <button class="btn btn-secondary" data-dismiss="modal">Fechar</button>
              <button class="btn btn-primary" type="submit">Cadastrar</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
<% } %>
  <!-- USER MODAL -->
  <div class="modal fade" id="addUserModalA">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-m text-white">
          <h5 class="modal-title">Cadastrar Aluno</h5>
          <button class="close" data-dismiss="modal"><span>&times;</span></button>
        </div>
        <div class="modal-body">
          <form method="POST" action="/cordenacao/cadastrar" enctype="multipart/form-data">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="nome">Nome</label>
                  <input type="text" name="nome" class="form-control" required>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="bi">Bi</label>
                  <input type="text" name="bi" class="form-control" required>
                </div>
              </div>
            </div>

            <div class="form-group">
              <input type="hidden" name="curso" value="<%- user.idCurso %>">
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="classe">Classe</label>
                  <select name="classe" class="form-control">
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                  </select>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="sala">Sala</label>
                  <input type="number" name="sala" id="sala" class="form-control" required>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="numero">Numero do Aluno</label>
                  <input type="number" name="numero" id="numero" class="form-control" required>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="turno">Turno</label>
                  <input type="text" class="form-control" name="turno" required>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="turma">Turma</label>
                  <select name="turma" class="form-control">
                    <% for(turma of turmas){ %>
                    <option value="<%- turma.id %>"><%- turma.nome %></option>
                    <% } %>
                  </select>
                </div>
              </div>

            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-6">
                  <label for="file">Escolher foto de Perfil </label>
                  <input type="file" name="photo" class="form-control-file" required>
                  <small class="form-text text-muted">Nº max 3mb</small>
                </div>
                <div class="col-md-6">
                  <label for="file">BI Foto </label>
                  <input type="file" name="photo" class="form-control-file" required>
                  <small class="form-text text-muted">Nº max 3mb</small>
                </div>
              </div>

            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary" data-dismiss="modal">Fechar</button>
              <button class="btn btn-primary" type="submit">Cadastrar</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>

  <script src="../../js/jquery.min.js"></script>
  <script src="../../js/bootstrap.bundle.min.js"></script>
  <script src="../../js/jquery.dataTables.min.js"></script>
  <script src="../../js/dataTables.bootstrap4.min.js"></script>
  <script>
    const tr1 = document.getElementById('tr1');
    const tr2 = document.getElementById('tr2');
    

    const alu = document.getElementById('alu');
    const cola = document.getElementById('cola');
    

    tr1.addEventListener('click', () => {
      alu.style.display = "table-row-group";
      cola.style.display = "none";

      tr1.classList.add("active");
      tr2.classList.remove("active");
    });

    tr2.addEventListener('click', () => {
      alu.style.display = "none";
      cola.style.display = "table-row-group";

      tr2.classList.add("active");
      tr1.classList.remove("active");
    });
  </script>
  <script>
    $(document).ready(function () {
      $('#dataTable').DataTable({
        "language": {
          "decimal": "",
          "emptyTable": "Sem dado disponivel na tabela",
          "info": "Mostrando _START_ de _END_",
          "infoEmpty": "Mostrando 0 de 0",
          "infoFiltered": "(filtrado de _MAX_)",
          "infoPostFix": "",
          "thousands": ",",
          "lengthMenu": "Mostrar _MENU_ ",
          "loadingRecords": "Processando...",
          "processing": "Processando...",
          "search": "Pesquisar:",
          "zeroRecords": "Nenhum resultado encontrado",
          "paginate": {
            "first": "Primeiro",
            "last": "Anterior",
            "next": "Proximo",
            "previous": "Voltar"
          }
        }
      });
    });
  </script>
  <%- include('./includes/notification', {reclamacaoIndex}) %>
</body>
</html>