<!DOCTYPE html>
<html lang="pt">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>IMEL</title>

  <link href="../../fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="../../css/imel.css" rel="stylesheet">

</head>

<body id="page-top">

  <div id="wrapper">
    <%- include('./includes/sidebar', {user}) %>
        <!-- fim do Topbar -->

        <!-- inicio da Pag. de Conteúdo -->
        <div class="container-fluid">

          <!-- ACTIONS -->
          <section id="action" class="py-4 mb-4 bg-light">
            <div class="container">
              <div class="row">
                <div class="col-md-3 mr-auto">
                  <a href="/cordenacao/cadastrar" class="btn btn-light btn-block">
                    <i class="fa fa-arrow-left"></i> Voltar para Inicio
                  </a>
                </div>
                <div class="col-md-3">
                  <a href="#" class="btn btn-success btn-block">
                    <i class="fa fa-check"></i> Salvar mudanças
                  </a>
                </div>
              </div>
            </div>
          </section>

          <!-- POSTS -->
          <div class="row">
            <div class="col-md-3">
              <h4>Fotografia do aluno</h4>
              <img class="imgAvatar" src="http://localhost:3000/<%- result[0].photoAvatar %>" alt="" class="d-block img-fluid mb-3">
            </div>
            <div class="col-md-9">
              
              <form action="">
                <section id="posts">
                  <div class="container">
                    <div class="row">
                      <div class="col">
                        <div class="card">
                          <div class="card-header">
                            <h4>Editar dados</h4>
                          </div>
                          <div class="card-body">
                            <form>
                              <div class="row">
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label for="name">Nome</label>
                                    <input type="text" class="form-control" value="<%- result[0].nome %>">
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label for="bi">Bi</label>
                                    <input type="text" class="form-control" value="<%- result[0].bi %>">
                                  </div>
                                </div>
                              </div>
                              
                              
                              <div class="row">
                                <div class="form-group col-md-4">
                                  <label for="file">BI Foto </label>
                                  <input type="file" name="photo" class="form-control-file" value="Oal.pdf">
                                  <small class="form-text text-muted">Nº max 3mb</small>
                                </div>
                                <div class="col-md-4"></div>
                                <div class="col-md-4">
                                  <a href="http://localhost:3000/<%- result[0].photoBi %>" target="_blanck" class="btn btn-primary btn-block"> Ver BI</a>
                                </div>
                              </div>
                              
                              <div class="row">
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label for="title">Curso</label>
                                    <input type="text" class="form-control" value="<%- result[0].curso %>">
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label for="classe">Classe</label>
                                    <input type="number" class="form-control" value="<%- result[0].classe %>">
                                  </div>
                                </div>
                              </div>
                              
                              <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label for="sala">Sala</label>
                                  <input type="text" class="form-control" value="<%- result[0].sala %>">
                                </div>
                              </div>
  
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label for="nrAluno">Nº do aluno</label>
                                    <input type="number" class="form-control" value="<%- result[0].numero %>">
                                  </div>
                                </div>
                              </div>
      
                              <div class="row">
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label for="turno">Turno</label>
                                    <input type="text" class="form-control" value="<%- result[0].turno %>">
                                  </div>
                                </div>
  
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label for="turma">Turma</label>
                                    <input type="text" class="form-control" value="At">
                                  </div>
                                </div>
                              </div>
                              
      
                              <div class="form-group">
                                <label for="processo">Nº processo</label>
                                <input type="number" class="form-control" value="<%- result[0].id %>">
                              </div>
      
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </form>

            </div>
          </div>
          

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- fim do Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; ABDJAM 2020</span>
          </div>
        </div>
      </footer>
      <!-- fim da Footer -->

    </div>
    <!-- fim do Content Wrapper -->

  </div>
  <!-- fim da Pag Wrapper -->

  <!-- Logout Modal-->
  <%- include('./includes/modalLogout.ejs'); %>


  <script src="../../js/jquery.min.js"></script>
  <script src="../../js/bootstrap.bundle.min.js"></script>

</body>

</html>