<!DOCTYPE html>
<html lang="pt">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>IMEL</title>

  <link href="../../fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="../../css/imel.css" rel="stylesheet">
  <link rel="stylesheet" href="../../css/dataTables.bootstrap4.min.css">

</head>

<body id="page-top">


  <div id="wrapper">

    <%- include('./includes/sidebar', {user, reclamacaoIndex}) %>
        <!-- inicio da Pag. de Conteúdo -->
        <div class="container-fluid">

          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Turmas</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                  <div class="row">
                    <div class="col-sm-12 col-md-6 d-flex">
                      
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <table class="table table-bordered dataTable" id="dataTable"  cellspacing="0"
                        role="grid" aria-describedby="dataTable_info">
                        <thead>
                          <tr role="row">
                            <th class="sorting_asc" 
                              aria-sort="ascending">ID</th>
                            <th class="sorting">Turma
                            </th>
                            <th class="sorting">Sala</th>
                              <th class="sorting"></th>
                          </tr>
                        </thead>
                        <% for(turma of turmas ) { %>
                        <tbody>
                          <tr role="row" class="odd">
                            <td class="sorting_1"><%- turma.id %></td>
                            <td><%- turma.nome %></td>
                            <td><%- turma.sala %></td>
                            
                            <td><a href="/cordenacao/nota/<%- turma.id %>" class="btn btn-secondary">
                              <i class="fa fa-angle-double-right"></i> Lançar
                            </a></td>
                          </tr>
                        </tbody> 
                      <% } %>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>



        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- fim do Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; ABJAM 2020</span>
          </div>
        </div>
      </footer>
      <!-- fim da Footer -->

    </div>
    <!-- fim do Content Wrapper -->

  </div>
  <!-- fim da Pag Wrapper -->

  <!-- Logout Modal-->
  <%- include('./includes/modalLogout.ejs'); %>

  <script src="../../js/jquery.min.js"></script>
  <script src="../../js/bootstrap.bundle.min.js"></script>
  <script src="../../js/jquery.dataTables.min.js"></script>
  <script src="../../js/dataTables.bootstrap4.min.js"></script>
  <script>
    $(document).ready(function() {
  $('#dataTable').DataTable({
    "language": {
      "decimal": "",
      "emptyTable": "Sem dado disponivel na tabela",
      "info": "Mostrando _START_ de _END_",
      "infoEmpty": "Mostrando 0 de 0",
      "infoFiltered": "(filtrado de _MAX_)",
      "infoPostFix": "",
      "thousands": ",",
      "lengthMenu": "Mostrar _MENU_ ",
      "loadingRecords": "Processando...",
      "processing": "Processando...",
      "search": "Pesquisar:",
      "zeroRecords": "Nenhum resultado encontrado",
      "paginate": {
        "first": "Primeiro",
        "last": "Anterior",
        "next": "Proximo",
        "previous": "Voltar"
    }
    }
  });
});
  </script>
  <%- include('./includes/notification', {reclamacaoIndex}) %>
</body>

</html>