<!DOCTYPE html>
<html lang="pt">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>IMEL</title>

  <link href="../../fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="../../css/imel.css" rel="stylesheet">
  <link rel="stylesheet" href="../../css/dataTables.bootstrap4.min.css">

</head>

<body id="page-top">

  <div id="wrapper">

    <%- include('./includes/sidebar') %>
    

        <!-- inicio da Pag. de Conteúdo -->
        <div class="container-fluid">

          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary"> <%- turma[0].nome %> </h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                  <div class="row">
                    <div class="col-sm-12 col-md-6 d-flex">
                      
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">


                      <table class="table table-bordered dataTable" id="dataTable"  cellspacing="0"
                        role="grid" aria-describedby="dataTable_info">
                        <thead>
                          <tr role="row">
                            <th class="sorting_asc" 
                              aria-sort="ascending">Nome</th>
                            <th class="sorting">Turma</th>
                            <th class="sorting">Turno</th>
                            <th class="sorting">Classe</th>
                              <th class="sorting"></th>
                          </tr>
                        </thead>
                        
                        <tbody>
                          <% for( aluno of alunos ) { %>
                          <tr role="row" class="odd">
                            <td class="sorting_1"><%- aluno.nome %></td>
                            <td><%- turma[0].nome %></td>
                            <td><%- aluno.turno %></td>
                            <td><%- aluno.classe %></td>
                            <td><a href="/cordenacao/nota" class="btn btn-secondary aluno" data-toggle="modal" data-target="#addNotaModal">
                              <input type="hidden" value="<%- aluno.id %>">
                              <i class="fa fa-angle-double-right"></i> Lançar
                            </a></td>
                          </tr>
                          <% } %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          



        </div>
        <!-- /.container-fluid -->


        
      </div>
      <!-- fim do Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; ABJAM 2020</span>
          </div>
        </div>
      </footer>
      <!-- fim da Footer -->

    </div>
    <!-- fim do Content Wrapper -->

  </div>
  <!-- fim da Pag Wrapper -->

  <!-- Logout Modal-->
  <%- include('./includes/modalLogout.ejs'); %>


    <!-- Nota MODAL -->
    <div class="modal fade" id="addNotaModal">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header bg-m text-white">
            <h5 class="modal-title">Lançar nota</h5>
            <button class="close" data-dismiss="modal"><span>&times;</span></button>
          </div>
          <div class="modal-body">
            <form method="post" action="/nota">
              <div class="form-group">
                <label for="title">Disciplina</label>
                <select class="form-control" name="idDisciplina">
                  <% for(disciplina of disciplinas ) { %>
                  <option value="<%- disciplina.id %>"><%- disciplina.nomeDisciplina %></option>
                  <% } %>
                </select>
              </div>
              <div class="form-group">
                <label for="title">Trimestre</label>
                <select class="form-control" name="trimestre">
                  <option value="1">Iº trimestre</option>
                  <option value="2">IIº trimestre</option>
                  <option value="3">IIIº trimestre</option>
                </select>
              </div>
              <input type="hidden" name="idAluno" id="idAluno" value="1">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="classe">1º Nota</label>
                    <input class="inp" name="nota1" id="nota1" type="number">
                  </div>
                </div>
                
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="sala">2º Nota</label>
                    <input class="inp" name="nota2" id="nota2" type="number" value="0">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="sala">Média</label>
                    <p id="media"></p>
                    <input type="hidden" class="inp" name="media" id="idMedia"  type="number">
                    <input type="hidden" name="idd" value="<%- turma[0].id %>">
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button class="btn btn-primary" id="cadastrar" >Cadastrar</button>
              </div>
            </form>
          </div>
          
        </div>
      </div>
    </div>

  <script src="../../js/jquery.min.js"></script>
  <script src="../../js/bootstrap.bundle.min.js"></script>
  <script src="../../js/jquery.dataTables.min.js"></script>
  <script src="../../js/dataTables.bootstrap4.min.js"></script>
  <script src="../../js/main.js"></script>
  <script>
    $(document).ready(function() {
  $('#dataTable').DataTable({
    "language": {
      "decimal": "",
      "emptyTable": "Sem dado disponivel na tabela",
      "info": "Mostrando _START_ de _END_",
      "infoEmpty": "Mostrando 0 de 0",
      "infoFiltered": "(filtrado de _MAX_)",
      "infoPostFix": "",
      "thousands": ",",
      "lengthMenu": "Mostrar _MENU_ ",
      "loadingRecords": "Processando...",
      "processing": "Processando...",
      "search": "Pesquisar:",
      "zeroRecords": "Nenhum resultado encontrado",
      "paginate": {
        "first": "Primeiro",
        "last": "Anterior",
        "next": "Proximo",
        "previous": "Voltar"
    }
    }
  });
});
  </script>
</body>

</html>