<!DOCTYPE html>
<html lang="pt">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>IMEL</title>

  <link href="../../fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="../../css/imel.css" rel="stylesheet">

</head>

<body id="page-top">

  <div id="wrapper">

    <%- include('./includes/sidebar', {user, reclamacaoIndex}) %>

        <!-- inicio da Pag. de Conteúdo -->
        <div class="container-fluid">
          
          <div class="container mt-5">
            <div class="row">
              <div class="col col-6">
                <div class="card" style="width: 18rem;">
                  <img src="http://localhost:3000/<%- data[0].Avatar1 %>" class="card-img-top" style="height: 215px;" alt="...">
                  
                  <div class="card-body">
                    <p class="card-text">Nome: <%- data[0].nome1 %></p>
                    <p class="card-text">Sala: <%- data[0].sala1 %></p>
                    <p class="card-text">Turma: <%- data[0].nomeTurma1 %></p>
                    <p class="card-text">Curso: <%- data[0].nomeCurso1 %></p>
                  </div>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <img src="http://localhost:3000/<%- data[0].Avatar2 %>" class="card-img-top" style="height: 215px;" alt="...">
                
                <div class="card-body">
                  <p class="card-text">Nome: <%- data[0].nome2 %></p>
                  <p class="card-text">Sala: <%- data[0].sala2 %></p>
                  <p class="card-text">Turma: <%- data[0].nomeTurma2 %></p>
                  <p class="card-text">Curso: <%- data[0].nomeCurso2 %></p>
                </div>
              </div>
            </div>
            <div style="margin: 0 auto;">
              <% if(!data[0].resposta) { %>
              <form action="/cordenacao/trocar/" method="post">
                <input type="hidden" name="idUSer" value="<%- data[0].idUser %>">
                <input type="hidden" name="interessado" value="<%- data[0].interessado %>">
                <input type="hidden" name="id" value="<%- data[0].id %>">
                <input type="submit" value="Fazer Trocar" class="btn btn-success mt-5 text-center">
              </form>
              <% } else { %>
                <button class="btn btn-success">
                  Troca Feita 
                </button>
              <% } %>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- fim do Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; ABDJAM 2020</span>
          </div>
        </div>
      </footer>
      <!-- fim da Footer -->

    </div>
    <!-- fim do Content Wrapper -->

  </div>
  <!-- fim da Pag Wrapper -->

  <!-- Logout Modal-->
  <%- include('./includes/modalLogout.ejs'); %>


  <script src="../../js/jquery.min.js"></script>
  <script src="../../js/bootstrap.bundle.min.js"></script>
  <%- include('./includes/notification', {reclamacaoIndex}) %>
</body>

</html>
