<!DOCTYPE html>
<html lang="pt">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>IMEL</title>

  <link href="../../fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="../../css/imel.css" rel="stylesheet">
  <link rel="stylesheet" href="../../css/datatables/dataTables.bootstrap4.min.css">

  <style>
    .direct{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .btn-primary.active{
      color: #1105fe;
    }
  </style>
</head>

<body id="page-top">

  <div id="wrapper">

    <%- include('./includes/sidebar') %>

        <!-- inicio da Pag. de Conteúdo -->
        <div class="container-fluid">

          <!-- ACTIONS -->

          <!-- POSTS -->
          <section id="posts">
            <div class="container">
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Cadastrados</h6>
                  <div class="row">
                    <div class="col-md4">
                      <div class="directC">
                        <a href="#" class="btn btn-primary active" id="tr1" >
                          <i class="fa fa-user"></i> Lista dos Alunos
                        </a>
                        <a href="#" class="btn btn-primary" id="tr2">
                          <i class="fa fa-users-cog"></i> Lista dos Colaboradores
                        </a>
                    </div>
                    </div>
                  </div>
                </div>
              
                <div class="card-body">
                  <div class="table-responsive">
                    <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                      <div class="row">
                        <div class="col-sm-12 col-md-6 d-flex">

                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12">
                          <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0"
                            role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                            <thead>
                              
                              <tr>
                                <th>#</th>
                                <th>Nome</th>
                                <th>Função</th>
                                <th>Data de cadastro</th>
                                <th></th>
                              </tr>
                              </tr>
                            </thead>
                            <!--Aluno-->
                            <tbody id="alu"  style="display: table-row-group">
                              <% for(dado of dados[0]){ %>
                              <tr role="row" class="odd">
                                <td class="sorting_1"><%- dado.numero_id %></td>
                                <td><%- dado.nome %></td>
                                <td><%- (dado.nivelSession == 1) ? 'Aluno' : 'Colaborador'; %></td>

                                <td><%- new Date (dado.datatimes).toLocaleDateString() %></td>
                                <td class="text-center"> <!-- <a href="detalhes.html" class="btn btn-secondary"> <i class="fa fa-angle-double-right"></i> Detalhes </a> --> 
                                  <a href="#" class="btn btn-success aluno" data-toggle="modal" data-target="#passwordModalAluno"> 
                                    <input type="hidden" value="<%- dado.id %>">
                                    <i class="fa fa-lock"></i> Mudar Password </a> 
                                  
                                 </td>
                              </tr>
                              <% } %>
                            </tbody>
                            <!--colaborador-->
                            
                            <tbody id="cola" style="display: none;">
                               <% for(dado of dados[1]){ %>
                                
                              <tr role="row" class="odd">
                                <td class="sorting_1"><%- dado.numero_id %></td>
                                <td><%- dado.nome %></td>
                                <td><%- (dado.nivelSession == 1) ? 'Aluno' : 'Colaborador'; %></td>

                                <td><%- new Date (dado.datatimes).toLocaleDateString() %></td>
                                <td class="text-center"> <!-- <a href="detalhes.html" class="btn btn-secondary"> <i class="fa fa-angle-double-right"></i> Detalhes </a> --> 
                                  <a href="#" class="btn btn-success cola" data-toggle="modal" data-target="#passwordModal"> 
                                    <input type="hidden" value="<%- dado.id %>">
                                    <i class="fa fa-lock"></i> Mudar Password </a> </td>
                              <% } %>
                            </tbody>
                          </table>
                          
                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- fim do Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; ABDJAM 2020</span>
          </div>
        </div>
      </footer>
      <!-- fim da Footer -->
    </div>
    <!-- fim do Content Wrapper -->
  </div>
  <!-- fim da Pag Wrapper -->

  <!-- PASSWORD MODAL -->

  <div class="modal fade" id="passwordModalAluno">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-m text-white">
          <h5 class="modal-title">Mudar a Password Aluno</h5>
          <button class="close" data-dismiss="modal"><span>&times;</span></button>
        </div>
        <div class="modal-body">
          <form action="/update-password" method="POST">
            <div class="form-group">
              <label for="name">Password</label>
              <input type="password" name="pass" class="form-control">
            </div>
            <div class="form-group">
              <label for="name">Confirma Password</label>
              <input type="password" class="form-control">
            </div>
            <input type="hidden" id="idAluno" name="id" value="">
            <input type="hidden" name="admin" value="true">
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <button class="btn btn-primary" type="submit">Atualizar Password</button>
        </div>
        </form>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="passwordModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-m text-white">
          <h5 class="modal-title">Mudar a Password</h5>
          <button class="close" data-dismiss="modal"><span>&times;</span></button>
        </div>
        <div class="modal-body">
          <form action="/cordenacao/update/colaborador" method="POST">
            <div class="form-group">
              <label for="name">Password</label>
              <input type="password" name="palavraPasse" class="form-control">
            </div>
            <div class="form-group">
              <label for="name">Confirma Password</label>
              <input type="password" class="form-control">
            </div>
            <input type="hidden" name="idCoordenador" id="idColaborador" value="">

        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <button class="btn btn-primary" type="submit">Atualizar Password</button>
        </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Logout Modal-->
  <%- include('./includes/modalLogout.ejs'); %>

  <script src="../../js/jquery.min.js"></script>
  <script src="../../js/bootstrap.bundle.min.js"></script>
  <script src="../../css/datatables/jquery.dataTables.min.js"></script>
  <script src="../../css/datatables/dataTables.bootstrap4.min.js"></script>
  <script src="../../js/senha.js"></script>

  <script>
    const tr1 = document.getElementById('tr1');
    const tr2 = document.getElementById('tr2');
    

    const alu = document.getElementById('alu');
    const cola = document.getElementById('cola');
    

    tr1.addEventListener('click', () => {
      alu.style.display = "table-row-group";
      cola.style.display = "none";

      tr1.classList.add("active");
      tr2.classList.remove("active");
    });

    tr2.addEventListener('click', () => {
      alu.style.display = "none";
      cola.style.display = "table-row-group";

      tr2.classList.add("active");
      tr1.classList.remove("active");
    });
  </script>
  <script>
    $(document).ready(function() {
  $('#dataTable').DataTable({
    "language": {
      "decimal": "",
      "emptyTable": "Sem dado disponivel na tabela",
      "info": "Mostrando _START_ de _END_",
      "infoEmpty": "Mostrando 0 de 0",
      "infoFiltered": "(filtrado de _MAX_)",
      "infoPostFix": "",
      "thousands": ",",
      "lengthMenu": "Mostrar _MENU_ ",
      "loadingRecords": "Processando...",
      "processing": "Processando...",
      "search": "Pesquisar:",
      "zeroRecords": "Nenhum resultado encontrado",
      "paginate": {
        "first": "Primeiro",
        "last": "Anterior",
        "next": "Proximo",
        "previous": "Voltar"
    }
    }
  });
});
  </script>
</body>

</html>